<div class="alert alert-warning"> Hybrid Particle Swarm Optimization-Local Search </div>

<div  class="alert alert-info">import
 </div>

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import log_loss

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

<div class="alert alert-info"> reading dataset</div>

In [17]:
df = pd.read_csv("./data sets/wine/wine.data",header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

<div  class="alert alert-info"> analyze </div>

In [18]:
df[0].value_counts()

2    71
1    59
3    48
Name: 0, dtype: int64

In [19]:
with open("./data sets/wine/wine.names") as f:
    print(f.read())

1. Title of Database: Wine recognition data
	Updated Sept 21, 1998 by C.Blake : Added attribute information

2. Sources:
   (a) Forina, M. et al, PARVUS - An Extendible Package for Data
       Exploration, Classification and Correlation. Institute of Pharmaceutical
       and Food Analysis and Technologies, Via Brigata Salerno,
       16147 Genoa, Italy.

   (b) Stefan Aeberhard, email: stefan@coral.cs.jcu.edu.au
   (c) July 1991
3. Past Usage:

   (1)
   S. Aeberhard, D. Coomans and O. de Vel,
   Comparison of Classifiers in High Dimensional Settings,
   Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
   Mathematics and Statistics, James Cook University of North Queensland.
   (Also submitted to Technometrics).

   The data was used with many others for comparing various
   classifiers. The classes are separable, though only RDA
   has achieved 100% correct classification.
   (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
   (All results using the leave-one-out technique)

   In a classification context, this is a well posed problem
   with "well behaved" class structures. A good data set
   for first testing of a new classifier, but not very
   challenging.

   (2)
   S. Aeberhard, D. Coomans and O. de Vel,
   "THE CLASSIFICATION PERFORMANCE OF RDA"
   Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
   Mathematics and Statistics, James Cook University of North Queensland.
   (Also submitted to Journal of Chemometrics).

   Here, the data was used to illustrate the superior performance of
   the use of a new appreciation function with RDA.

4. Relevant Information:

   -- These data are the results of a chemical analysis of
      wines grown in the same region in Italy but derived from three
      different cultivars.
      The analysis determined the quantities of 13 constituents
      found in each of the three types of wines.

   -- I think that the initial data set had around 30 variables, but
      for some reason I only have the 13 dimensional version.
      I had a list of what the 30 or so variables were, but a.)
      I lost it, and b.), I would not know which 13 variables
      are included in the set.

   -- The attributes are (dontated by Riccardo Leardi,
	riclea@anchem.unige.it )
 	1) Alcohol
 	2) Malic acid
 	3) Ash
	4) Alcalinity of ash
 	5) Magnesium
	6) Total phenols
 	7) Flavanoids
 	8) Nonflavanoid phenols
 	9) Proanthocyanins
	10)Color intensity
 	11)Hue
 	12)OD280/OD315 of diluted wines
 	13)Proline

5. Number of Instances

      	class 1 59
	class 2 71
	class 3 48

6. Number of Attributes

	13

7. For Each Attribute:

	All attributes are continuous

	No statistics available, but suggest to standardise
	variables for certain uses (e.g. for us with classifiers
	which are NOT scale invariant)

	NOTE: 1st attribute is class identifier (1-3)

8. Missing Attribute Values:

	None

9. Class Distribution: number of instances per class

      	class 1 59
	class 2 71
	class 3 48

In [20]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
count,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000,178.000000
mean,1.938202,13.000618,2.336348,2.366517,19.494944,99.741573,2.295112,2.029270,0.361854,1.590899,5.058090,0.957449,2.611685,746.893258
std,0.775035,0.811827,1.117146,0.274344,3.339564,14.282484,0.625851,0.998859,0.124453,0.572359,2.318286,0.228572,0.709990,314.907474
min,1.000000,11.030000,0.740000,1.360000,10.600000,70.000000,0.980000,0.340000,0.130000,0.410000,1.280000,0.480000,1.270000,278.000000
25%,1.000000,12.362500,1.602500,2.210000,17.200000,88.000000,1.742500,1.205000,0.270000,1.250000,3.220000,0.782500,1.937500,500.500000
50%,2.000000,13.050000,1.865000,2.360000,19.500000,98.000000,2.355000,2.135000,0.340000,1.555000,4.690000,0.965000,2.780000,673.500000
75%,3.000000,13.677500,3.082500,2.557500,21.500000,107.000000,2.800000,2.875000,0.437500,1.950000,6.200000,1.120000,3.170000,985.000000
max,3.000000,14.830000,5.800000,3.230000,30.000000,162.000000,3.880000,5.080000,0.660000,3.580000,13.000000,1.710000,4.000000,1680.000000

In [21]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
dtype: int64

<div  class="alert alert-info"> set X & Y </div>

In [22]:
x = df.drop([0], axis=1)
x.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [23]:
y = df[[0]]
y.head()

   0
0  1
1  1
2  1
3  1
4  1

<div  class="alert alert-info"> HPSO-LS class </div>

In [24]:
class HPSO_LS():
    def __init__(self, x,y, NC=50, NP=20, c1=2, c2=2, v_max=4, v_min=-4,a=0.65, seed=89):
        
        # set x_train,x_test,y_train and y_test
        X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)
        # normalize data
        scaler = StandardScaler()
        X_train = scaler.fit_transform(X_train)
        X_test = scaler.transform(X_test)
        
        self.X_train = X_train
        self.X_test = X_test
        self.y_train = y_train
        self.y_test = y_test
        
        self.feature = x.columns #features of dataset
        self.NC = NC # number of iterations
        self.NP = NP # number of particles
        self.c1 = c1 # learning rate1
        self.c2 = c2 # learning rate2
        self.v_max = v_max #v max
        self.v_min = v_min #v min
        self.a = a # alpha
        self.k = None #number of determine in first step
        self.similar = []#similar features
        self.dissimilar = [] #dissimilar features
        self.seed = seed # random seed
    
    def determining_k(self):# step1: determining k(numbevr of features)
        random.seed(self.seed)# set random seed
        f = len(self.feature)# number of features
        l_sf = [] # probability of each sf
        # implement l_sf formula
        for sf in range(1,f): 
            l= f - sf 
            s =0 #sum 
            for i in range (l):#sigma
                i +=1
                s += f - i
            l_sf.append(round(l / s,2))
        M = 0 # max of random numbers
        while(M<=2):
            e = (random.randint(15,70))/100 #epsilon
            M = int(e*f)# max of random numbers
        k = random.choices(list(range(3,M+1)), weights= l_sf[3:M+1])#roulette wheel
        self.k = k[0]# set k
        return k[0]
    
    
    def grouping_features(self,plot = False):# step 2
        
        if plot:# plot the correlation if true 
            corr = self.x.corr()
            plt.figure(figsize=(10,10))
            sns.heatmap(corr,annot=True)
            
            
        corr = []# to keep corrlations
        f = len(self.feature)#number of features
        for i in range(1,f):
            corr_i= x.corrwith(x[i])#pearson corr for each i
            corr_i[i] = 0 # In order not to be effective in sigma
            corr.append(((round(corr_i.apply(abs).sum()/(f-1),3)),i)) # caculate corr for each i
            corr.sort()# sort
        #seperate to similar and dissimilar
        self.dissimilar = corr[:len(corr)//2] 
        self.similar = corr[len(corr)//2:]
        print("similar:   ",self.similar,"\ndissimilar :  ",self.dissimilar)
    
    def  initializing_particles(self):#step 3
        
        random.seed(self.seed)# set random seed
        f = len(self.feature)#number of features
        k = self.determining_k() #determining number of features for selection
        particles = []# list of particles 
        sample = [1]*k + [0]*(f-k)# a sample particle to cahnge later
        for i in range(self.NP): 
            random.shuffle(sample)# shuffling the sample
            change = sample.copy()# copy
            particles.append(change)# add to particles list   
        velocity = [[round(random.random(),3) for x in range(f) ]for y in range(self.NP)]# set a random num in [0,1] for velocity of each dim of particles
        
        return particles , velocity
    
    
    def fitness(self,P):#step 6
        score = []# list of scores
        for p in P:
            model = KNeighborsClassifier()# make a knn model
            params = {
                'n_neighbors' : [1] # k in knn
            }
            grid_model = GridSearchCV(model, params, cv=10)# cross validation by grid search
            
            #set the x according to the selected features
            X_tr = pd.DataFrame(self.X_train)[[j for i,j in zip(p,pd.DataFrame(self.X_train).columns) if i==1]]
            X_tst = pd.DataFrame(self.X_test)[[j for i,j in zip(p,pd.DataFrame(self.X_test).columns) if i==1]]
            grid_model.fit(X_tr,self.y_train)# train
            y_pred = grid_model.predict(X_tst)# test
            score.append(round(accuracy_score(self.y_test,y_pred),3))# fitness
            
        return score    
    
    def sigmoid(self,x):
        return 1/(1+np.exp(-x))
    
    
    def update(self,P,V,p_best,g_best):#step 4
        f = len(self.feature)# number of features
        v_new = np.zeros_like(V)# in order to keep the new vlocities
        p_new = np.zeros_like(P)# in order to keep the new particles
        
        for i in range(self.NP):# for each particle
            for d in range(f):#for each dimention
                v_new[i][d] = V[i][d] + self.c1 *random.random()*(p_best[i][d] - P[i][d])* V[i][d] + self.c2*random.random()*(g_best[d]-P[i][d])#v(t+1) formula 
                # if v is less than v_min it's v_min
                if v_new[i][d] < self.v_min:
                    v_new[i][d] = self.v_min
                # if v is more than v_max it's v_max    
                if v_new[i][d] > self.v_max:
                    v_new[i][d] = self.v_max
                
                rand = random.random()# set the rand in formula of x(t+1)
                # formual of x(t+1)
                if self.sigmoid(v_new[i][d]) > rand:
                    p_new[i][d] = 1
                else:
                    p_new[i][d] = 0
                    
        return p_new , v_new            
                    
    def local_search(self,P):# step 5
        ns = int(self.a * self.k)# calculate ns 
        nd = int((1-self.a) * self.k)#calculate nd
        p_new =[]# for new particles
        for particle in range(self.NP):
            # lists for seperate similar and dissimilars
            x_d =[]#X_d
            x_s =[]#X_s
            features = [j for j,i in enumerate(P[particle]) if i==1]# a set of selected features 
            #seperate the features into similar and dissimilar
            for i,j in self.similar:
                if j in features:
                    x_s.append((i,j))
            for i,j in self.dissimilar:
                if j in features:
                    x_d.append((i,j))
                    
            l= ns-len(x_s)# The difference between ns and xs
            if l>0: # we should add
                for i in range(l):
                    for s in self.similar:
                        if s not in x_s:# similars are sorted so we choose the first one that we don't selected
                            x_s.append(s)
                            break
            elif l<0:# we should delete
                for i in range(-l):
                    for x in x_s[::-1]:
                        x_s.pop()# the list is sorted so we pop the last one
                        break
            
            l= nd-len(x_d) # The difference between nd and xd           
            if l>0:#we should add
                for i in range(l):
                    for d in self.dissimilar:
                        if d not in x_d:
                            x_d.append(d)# dissimilars are sorted so we choose the first one that we don't selected
                            break                                    
            elif l<0:# we should delete
                for i in range(-l):
                    for x in x_d[::-1]:
                        x_d.pop()# the list is sorted so we pop the last one
                        break  
            # we keep the i and corr_i, we don't need the corr_i any more so delete it            
            x_s = [i[1] for i in x_s]
            x_d = [i[1] for i in x_d]
            x = x_d + x_s # all the selected features
            sample = [0]* len(self.feature)#sample
            # set the new particles according to selected featurs
            for i in x:
                sample[i]=1
            particle = sample.copy()
            p_new.append(particle)
            
        return p_new
                
    def Run_HPSO_LS(self):
        self.grouping_features()#step 2
        P,V= self.initializing_particles()#step 1 and step 3
        scores = self.fitness(P) # calculate fitness for particles
        p_best = [(P[i],scores[i]) for i in range(len(P))]# p_best for iter=1
        g_best = (P[scores.index(max(scores))],max(scores))#g_best and its score
        print(g_best,"g_best")
        for i in range(self.NC):
            p_new,v_new = self.update(P,V,[i[0] for i in p_best],g_best[0])# x(t+1) and v(t+1)
            p_new = self.local_search(p_new)# step 5
            scores_new = self.fitness(p_new)# step 6
            
            best_p = []
            #update g_best and p_best
            for p in range(self.NP):
                if scores[p]>scores_new[p]:
                    best_p.append((P[p],scores[p]))
                else:
                    best_p.append((p_new[p],scores_new[p]))
                
                if scores_new[p] > g_best[1]:
                    g_best = [p_new[p],scores_new[p]]
                    print(g_best,"new g_best")
           
            P = p_new #update particles
            V = v_new #update particles
            scores = scores_new.copy() #update p_best scores
            p_best = best_p.copy() #update p_best
            
        return g_best

In [25]:
A = HPSO_LS(x=x,y=y)

In [26]:
features, accuracy = A.Run_HPSO_LS()

similar:    [(0.3, 9), (0.319, 8), (0.325, 11), (0.384, 12), (0.409, 6), (0.447, 7)]
dissimilar :   [(0.176, 3), (0.193, 5), (0.244, 10), (0.253, 1), (0.269, 2), (0.281, 4)]
([0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1], 0.963) g_best
[[0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1], 0.981] new g_best

In [13]:
acc = []
for i in range(1000):
    
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    model = KNeighborsClassifier()
    params = {
        'n_neighbors' : [5]
    }
    grid_model = GridSearchCV(model, params, cv=10)

    X_tr = pd.DataFrame(X_train)[[x for y,x in zip(features,pd.DataFrame(X_train).columns) if y==1]] 
    X_tst = pd.DataFrame(X_test)[[x for y,x in zip(features,pd.DataFrame(X_test).columns) if y==1]]
    grid_model.fit(X_tr,y_train)
    y_pred = grid_model.predict(X_tst)
    acc.append(accuracy_score(y_test,y_pred))
    
print(np.array(acc).mean(),"mean")
print(max(acc),"max")
print(min(acc),"min")

0.9593703703703704 mean
1.0 max
0.8703703703703703 min

In [147]:
acc = []
for i in range(1000):
    
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    model = KNeighborsClassifier()
    params = {
        'n_neighbors' : [1]
    }
    grid_model = GridSearchCV(model, params, cv=10)

    grid_model.fit(X_train,y_train)
    y_pred = grid_model.predict(X_test)
    acc.append(accuracy_score(y_test,y_pred))
    
print(np.array(acc).mean(),"mean")
print(max(acc),"max")
print(min(acc),"min")

0.9512222222222224 mean
1.0 max
0.8333333333333334 min

In [27]:
df = pd.read_csv("./data sets/glass/glass.data",header=None, index_col=0)
df.head()

        1      2     3     4      5     6     7    8    9   10
0
1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0   1
2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0   1
3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0   1
4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0   1
5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0   1

<div  class="alert alert-info"> analyze </div>

In [28]:
df[10].value_counts()

2    76
1    70
7    29
3    17
5    13
6     9
Name: 10, dtype: int64

In [29]:
with open("./data sets/glass/glass.names") as f:
    print(f.read())

1. Title: Glass Identification Database

2. Sources:
    (a) Creator: B. German
        -- Central Research Establishment
           Home Office Forensic Science Service
           Aldermaston, Reading, Berkshire RG7 4PN
    (b) Donor: Vina Spiehler, Ph.D., DABFT
               Diagnostic Products Corporation
               (213) 776-0180 (ext 3014)
    (c) Date: September, 1987

3. Past Usage:
    -- Rule Induction in Forensic Science
       -- Ian W. Evett and Ernest J. Spiehler
       -- Central Research Establishment
          Home Office Forensic Science Service
          Aldermaston, Reading, Berkshire RG7 4PN
       -- Unknown technical note number (sorry, not listed here)
       -- General Results: nearest neighbor held its own with respect to the
             rule-based system

4. Relevant Information:n
      Vina conducted a comparison test of her rule-based system, BEAGLE, the
      nearest-neighbor algorithm, and discriminant analysis.  BEAGLE is
      a product available through VRS Consulting, Inc.; 4676 Admiralty Way,
      Suite 206; Marina Del Ray, CA 90292 (213) 827-7890 and FAX: -3189.
      In determining whether the glass was a type of "float" glass or not,
      the following results were obtained (# incorrect answers):

             Type of Sample                            Beagle   NN    DA
             Windows that were float processed (87)     10      12    21
             Windows that were not:            (76)     19      16    22

      The study of classification of types of glass was motivated by
      criminological investigation.  At the scene of the crime, the glass left
      can be used as evidence...if it is correctly identified!

5. Number of Instances: 214

6. Number of Attributes: 10 (including an Id#) plus the class attribute
   -- all attributes are continuously valued

7. Attribute Information:
   1. Id number: 1 to 214
   2. RI: refractive index
   3. Na: Sodium (unit measurement: weight percent in corresponding oxide, as
                  are attributes 4-10)
   4. Mg: Magnesium
   5. Al: Aluminum
   6. Si: Silicon
   7. K: Potassium
   8. Ca: Calcium
   9. Ba: Barium
  10. Fe: Iron
  11. Type of glass: (class attribute)
      -- 1 building_windows_float_processed
      -- 2 building_windows_non_float_processed
      -- 3 vehicle_windows_float_processed
      -- 4 vehicle_windows_non_float_processed (none in this database)
      -- 5 containers
      -- 6 tableware
      -- 7 headlamps

8. Missing Attribute Values: None

Summary Statistics:
Attribute:   Min     Max      Mean     SD      Correlation with class
 2. RI:       1.5112  1.5339   1.5184  0.0030  -0.1642
 3. Na:      10.73   17.38    13.4079  0.8166   0.5030
 4. Mg:       0       4.49     2.6845  1.4424  -0.7447
 5. Al:       0.29    3.5      1.4449  0.4993   0.5988
 6. Si:      69.81   75.41    72.6509  0.7745   0.1515
 7. K:        0       6.21     0.4971  0.6522  -0.0100
 8. Ca:       5.43   16.19     8.9570  1.4232   0.0007
 9. Ba:       0       3.15     0.1750  0.4972   0.5751
10. Fe:       0       0.51     0.0570  0.0974  -0.1879

9. Class Distribution: (out of 214 total instances)
    -- 163 Window glass (building windows and vehicle windows)
       -- 87 float processed
          -- 70 building windows
          -- 17 vehicle windows
       -- 76 non-float processed
          -- 76 building windows
          -- 0 vehicle windows
    -- 51 Non-window glass
       -- 13 containers
       -- 9 tableware
       -- 29 headlamps

In [30]:
df.describe()

,1,2,3,4,5,6,7,8,9,10
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [31]:
df.isnull().sum()

1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

<div  class="alert alert-info"> set X & Y </div>

In [32]:
x = df.drop([10], axis=1)
x.head()

         1      2     3     4      5     6     7    8    9
0
1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [33]:
y = df[[10]]
y.head()

   10
0
1   1
2   1
3   1
4   1
5   1

In [34]:
B = HPSO_LS(x=x,y=y,seed=27)

In [35]:
features, accuracy = B.Run_HPSO_LS()

similar:    [(0.259, 3), (0.274, 4), (0.313, 1), (0.319, 7)]
dissimilar :   [(0.173, 5), (0.181, 6), (0.202, 8), (0.225, 2)]
([1, 1, 1, 0, 0, 0, 1, 0, 0], 0.846) g_best

In [194]:
acc = []
for i in range(1000):
    
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    model = KNeighborsClassifier()
    params = {
        'n_neighbors' : [5]
    }
    grid_model = GridSearchCV(model, params, cv=10)

    X_tr = pd.DataFrame(X_train)[[x for y,x in zip(features,pd.DataFrame(X_train).columns) if y==1]] 
    X_tst = pd.DataFrame(X_test)[[x for y,x in zip(features,pd.DataFrame(X_test).columns) if y==1]]
    grid_model.fit(X_tr,y_train)
    y_pred = grid_model.predict(X_tst)
    acc.append(accuracy_score(y_test,y_pred))
    
print(np.array(acc).mean(),"mean")
print(max(acc),"max")
print(min(acc),"min")

0.6842615384615384 mean
0.8307692307692308 max
0.49230769230769234 min

In [195]:
acc = []
for i in range(1000):
    
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
    scaler = StandardScaler()
    X_train = scaler.fit_transform(X_train)
    X_test = scaler.transform(X_test)

    model = KNeighborsClassifier()
    params = {
        'n_neighbors' : [5]
    }
    grid_model = GridSearchCV(model, params, cv=10)

    grid_model.fit(X_train,y_train)
    y_pred = grid_model.predict(X_test)
    acc.append(accuracy_score(y_test,y_pred))
    
print(np.array(acc).mean(),"mean")
print(max(acc),"max")
print(min(acc),"min")

0.6427230769230768 mean
0.8 max
0.4461538461538462 min